.title {
    animation: example 10s infinite;
    animation-timing-function: linear;
    color: black;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}
@keyframes example {
    10% {color: black;}
    20% {color: #ff3f3a;}
    40% {color: #46ff34;}
    60% {color: #5abfff;}
    80% {color: #001dff;}
}

.TextInput {
    font-size: large;
    border: 3px solid #EEEEEE;
    padding: 9px;
    border-radius: 3px;
    display: block;
    margin: 15px auto;
}

.TextInput:focus {
    outline: none;
    border-color: #3b68ce;
    box-shadow: 0 0 25px rgb(50, 100, 153);
}
.Radio {
    font-size: small;
}

.form {
    border: 1px solid cadetblue;
    width: 300px;
    margin: 19px auto;
    padding: 15px;
}