h1 {
    animation-name: example;
    animation-duration: 10s;
    color: black;
}
@keyframes example {
    from {color: red;}
    to {color: yellow;}
}

.TextInput {
    font-size: large;
    border: 3px solid #EEEEEE;
    padding: 9px;
    border-radius: 3px;
    display: block;
    margin: 15px auto;
}

.TextInput:focus {
    outline: none;
    border-color: #3b68ce;
    box-shadow: 0 0 25px rgb(50, 100, 153);
}
.Radio {
    font-size: small;
}
/*.Button {*/
/*    padding: .5rem;*/
/*    font-size: 1.1em;*/
/*    background: darkcyan;*/
/*    border-radius: 9px;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/